.nav-link{
    position:relative;
    color:#fff;
}

.nav-link:after{
    content:'';
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height:2px;
    bottom:-3px;
    left:0;
    background-color:#fff;
    transform-origin:bottom right;
    transition:transform .25s ease-out
}


.nav-link.active:after{
    transform-origin: bottom center;
    transform:scaleX(1);
}

.nav-link:hover:after{
    transform:scaleX(1);
    transform-origin:bottom left
}